#wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}

.calculator-body {
    flex: 1;
}

.screen {
    width: 10%;
    border: 1px solid black;
}

.firstRow {
    display: flex;
    align-items: left;
}

.screen {
    flex: 1;
}